  *{
    margin: 0;
  }
  .box{
    height: 100vh;
    background-color: bisque;
  }
  .body{
    height: 120px;
    width: 200px;
    background-color: rgb(0, 106, 78);
    position:relative;
    left: 40%;
    top: 20%;
  }  
  .circle{
    height: 50px;
    width: 50px;
    background-color: rgb(244, 42, 65);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
  .pole{
    height:100px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 100%;
  }
  .stand{
    height: 15px;
    width: 30px;
    background-color: rgb(216, 33, 33);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }